html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 10px;
}

.el-pagination {
  margin-top: 15px;
}

.el-input--prefix {
  width: 100% !important;
}

.el-input-number {
  width: 100% !important;
}

.vxe-table {
  margin-top: 15px;
}

.vxe-textarea--inner {
  height: 100px !important;
}

.row-green1 {
  background-color: #f56c6c !important;
  color: #000000;
  font-weight: 900;
}

.row-green2 {
  background-color: #f56c6c !important;
  color: #000000;
  font-weight: 900;
}

.row-green3 {
  background-color: #606266 !important;
  color: #fff;
  font-weight: 900;
}
